@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,300;0,400;1,700&display=swap');

// Typography
$header: 'Bebas Neue';
$body: 'Lato';


// Colors
$primary: #F28482;
$secondary: #F5CAC3;
$accent: #F6BD60;
$accentTwo: #F7EDE2;
$text: #424242;
